@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.m-container{
    border: 1px solid black;
    width: 320px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
    
}

.logo {
    font-family: "raleway" sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    position: relative;
   
}
.web {
    color: #4D5AE5;
}
.studio {
    color: #2E2F42;
}

body {
    font-family: "roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #FFFFFF;
}

.hero-icons {
    width: 24px;
   height: 24px;
   display: block;
}
.menu {
    font-family: "roboto" ;
    font-weight: "medium";
    font-size: 16px;
    color: #2E2F42;
    display: flex;
    text-decoration: none;
} 

.menu a {
    position: relative;
    text-decoration: none;
}


ul {
    display: inline;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
}

.adres {
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
}


.baslik {
    border: 1px solid #2E2F42;
    width: 320px;
    height: 432px;
    background-color: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 1158px;
    background-image:
        linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(../images/people-office1.jpg);
    background-position: center center;
    text-align: center;
    flex-direction: column;
    padding: 52px;
  
}


.baslik h1{
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "700";
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    letter-spacing: 0.02em;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 16px;
    cursor: pointer;
    border: 10px;
    width: 169;
    height: 56;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}
button:hover,
button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 16px;
     width: 169;
    height: 56;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}


.container1 {
    display: flex;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 288px;
    height: 696px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 72px;
    max-width: 1158px;
    flex-direction: column-reverse;
    padding-top: 96px;
    margin: 16px;
}


.container1 h3{
    font: 700 36px / 1.11111 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 8px;
    text-align: center;
}
   
.container1 p {
    font: 500 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
}

.ozet {
    display: flex;
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 20px;
    line-height: 1,2;
    margin-bottom: 8px;
    background-color: #FFFFFF;
    text-align: center;
    
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.ozellik {
    display: block;
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%; 
}

.containerot {
    background-color: #F4F4FD;
    border: 1px solid #FFFFFF;
    width: 320px;
    height: 2232px;
    justify-content: space-around;
    align-items: center;
    padding: 72px;
    box-sizing: border-box;
    max-width: 1158px;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.containerot h2 {
    font: 700 36px / 1.11111 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.ourteam{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 264px;
    height: 428px;

}
.ot {
    border: 1px solid #F4F4FD;
    background-color: #FFFFFF;   
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.containerop{
    border: 1px solid #FFFFFF ;
    width: 288px;
    height: 2752px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1158px;
    display: flex;
}
.ourport {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
    list-style: none;
    border: 1px solid #FFFFFF;  
}   

.border{
    border: 1px solid #e7e9fc;
    
}

.portcont {
    position: relative;
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.border:hover,
.border:hover .overlay {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border:hover,
.border:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portcont .overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    margin: 0;
}

h2 {
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "bold";
    font-size: 36px;
    text-align: center;
    padding-bottom: 72px;
}

.ft {
    background-color: #2E2F42;
    border: 1px solid;
    width: 320px;
    height: auto;
    max-width: 1158px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    flex-direction: column;
    
}

.containerft{
    display: flex;
    align-items: baseline;
    gap: 80px;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.ft .foot {
    color: #F4F4FD;
    font-family: "roboto", sans-serif;
    font-weight: "regular";
    font-size: 16px;
    max-width: 264px;
    line-height: 1.5;
    
}

.logo1 {
    font-family: "raleway" sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    
}

.web {
    color: #4D5AE5;
}

.logo1 .studio1 {
    color: #F4F4FD;
}

.iconot {
    width: 40px;
    height: 40px;
    fill: #4d5ae5;
}

.icon {
    width: 64px;
    height: 64px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: none;
}

.footsocial {
    margin: 0 auto;
}

.iconft {
    width: 40px;
    height: 40px;
    fill: #4d5ae5;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconft:hover {
     fill: #31d0aa;
}

.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;   
    background-color: #fff;
    padding: 40px;
    width: 90%;
    width: 288px;
    height: 623px;
 }   

 .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0%;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
.modal-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    background-color: #fcfcfc;
    max-width: 408;
    border-radius: 4px;
 }

.modal form p {
    font: 500 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 }


.formin input:focus {
     border: 1px solid  #4D5AE5;
     outline: none;
 }

.modal form input {
    font: 400 12px / 1.16667 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    outline: none;
 }

.formsvg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    fill: #2E2F42;
}

.formsvg:hover
.formsvg:focus {
    fill: #4D5AE5;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.is-open {
    display: flex;
}

.modal .closeicon {
    width: 24px;
    height: 24px;
    fill: #E7E9FC;
}

.modal .closeicon:hover,
.modal .closeicon:focus {
    fill: #404BBF;
}


.formin {
    position: relative;
    margin-bottom: 20px;
}

.close-icon {
    width: 24px;
    height: 24px;
}

.formin input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    box-sizing: border-box;
}


.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    gap: 16px;
    background-color: #2E2F42;
    gap: 24px;
    text-align: center;
}

.subscribe form {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.lain input{
    background-color: #2E2F42;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
}

.lain {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subscribe label {
    color: #F4F4FD;
    gap: 24px;
    
}



.formod label {
    font-family: "roboto" sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    color: #8E8F99;
    font-weight: regular;
}
.comment {
    font-family: "roboto" sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    color: #8E8F99;
    font-weight: regular;
}

.comment textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
}

.comment textarea:hover,
.comment textarea:focus {
    border: 1px solid #4D5AE5;
}


.checkbox {
    display: flex;
    align-items: center;
    font: 400 12px / 1.16667 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #8e8f99;
    outline: none;
    
}

.checkbox input[type="checkbox"] {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
}


.submit {
    font: 500 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    
    
}

.submit button {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.iconsbsc {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.menu-button {
    cursor: pointer;
    display: none;
}

.icon-close {
    position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
        margin: 0%;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list{
    font: 700 36px / 1.11111 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 151px;
    height: 200px;
    margin-top: 72px;
    padding-right: 153px;
    padding-left: 16px;
    margin-bottom: 168px;
}

.mobile-list:hover{
    color: #404BBF;
}

.mobile-nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.mobile-adres {
    font: 500 20px / 1.2 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 193px;
    height: 72px;
    padding-right: 111px;
    padding-left: 16px;
    padding-bottom: 48px;
    
}

.mobile-adres:hover{
    color: #4D5AE5 ;
}

.iconmen {
    width: 40px;
    height: 40px;
    
}

.mobile-menu-social-icon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    border: 1px solid #fff;
    width: 280px;
    height: 40px;
    padding-top: 48px;
    padding-left: 16px;
    
    
}

.menu-close {
    position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
        margin: 0%;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



@media (min-width:320px) and (max-width:768){
  .menu-button{
    display: block;
  }

#mobile-menu-checkbox:checked~.mobile-nav {
    opacity: 1;
    visibility: visible;
}


}

